apiVersion: v1
kind: Secret
metadata:
  name: azure-secret-sp
  namespace: external-secrets
  labels:
    environment: production
type: Opaque
data:
  ClientID: #service-principal-ID
  ClientSecret:  #service-principal-secret
  TenantID: #tenant-ID

