apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: velero-cloud-credentials-external
  namespace: velero
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: cloud-credentials
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        cloud: "{{ .credentials }}"
  data:
    - secretKey: credentials
      remoteRef:
        key: velero-cloud-credentials
