apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
spec:
  interval: 1h
  chart:
    spec:
      chart: uptime-kuma
      version: 2.21.2
      sourceRef:
        kind: HelmRepository
        name: uptime-kuma
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: uptime-kuma-values
