apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gpu-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: gpu-operator
      version: v25.10.1
      sourceRef:
        kind: HelmRepository
        name: nvidia
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: gpu-operator-values
